<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FRID</title>


    <link href="{{ asset('assets/materialize/css/materialize.min.css') }}" rel="stylesheet" >
    <link href="{{ asset('assets/style.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}

        <script src="{{ asset('assets/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('assets/materialize/js/materialize.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>


</html>
